* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}


#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}



body {
      margin: 0;
    font-family: Arial;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}

article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f9ecb1;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #9db599;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}




.intro {
  text-align: center; 
  font-size: 70px;
   font-variant-caps: big-caps; 
  font-family: arial;
  padding-top: 80px;
  position: relative;
}

.mission{ 
  text-align: center; 
  font-variant-caps: small-caps; 
  font-size: 25px;
  font-family: arial;
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative;
}

.trans{ 
  position: relative; 
}


.logo{
  position: relative;
  width: 400px; 
height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  padding:50px;
}








